#grid{
    display: grid;
    grid-template-columns: 200 200 200 200 200;
    grid-template-rows: 200 200 200 200;
    grid-template-areas: 
    "d1 d2 d3 d4 d5"
    "d6 d7 d8 d9 d10"
    "d11 d12 d13 d14 d15"
    "d16 d17 d18 d19 d20";
    }
img{
    border: 5px black solid;
}